Repository PhilKsr/bonsai: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, sort-package-json

chore: fix commitlint
  package.json
Due: sort-package-json

ci: fix
  .github/workflows/ci.yml
Due: none

ci: fix
  pnpm-lock.yaml
Due: none

build(deps): update core dependencies to fix compatibility issues
  app/api/code/route.ts
  app/api/conversation/route.ts
  app/api/image/route.ts
  app/api/music/route.ts
  app/api/stripe/route.ts
  app/api/video/route.ts
  app/api/webhook/route.ts
  components/landing-content.tsx
  lib/api-limit.ts
  lib/subscription.ts
  middleware.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
Due: prettier --write, eslint, sort-package-json

ci: update Node.js version and pin pnpm version
  .github/workflows/ci.yml
  .nvmrc
Due: none

ci: fix lint command and add missing env variables
  .github/workflows/ci.yml
  package.json
Due: sort-package-json

fix: middleware compatibility for Vercel Edge Runtime
  middleware.ts
  vercel.json
Due: prettier --write, eslint

build: upgrade Node.js to version 20 for Vercel
  package.json
  vercel.json
Due: sort-package-json

fix: remove pnpm-workspace.yaml for Vercel deployment
  pnpm-workspace.yaml
Due: none

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx}
  eslint: any of: **/*.{js,jsx,ts,tsx}
  sort-package-json: any of: package.json
